[submodule "htdocs/typo3conf/ext/workspace_test"]
	path = htdocs/typo3conf/ext/workspace_test
	url = git@github.com:dkd/workspace_test.git
[submodule "config/vm/cookbooks/locale"]
	path = config/vm/cookbooks/locale
	url = https://github.com/hw-cookbooks/locale.git
[submodule "config/vm/cookbooks/vim"]
	path = config/vm/cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "config/vm/cookbooks/php"]
	path = config/vm/cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "htdocs/typo3conf/ext/phpunit"]
	path = htdocs/typo3conf/ext/phpunit
	url = git://git.typo3.org/TYPO3v4/Extensions/phpunit.git
